<form mat-dialog-content
      (ngSubmit)="addTaskFormHandler(addTaskForm)"
      #addTaskForm="ngForm"
      class="bg-white dark:bg-gray-800 mt-8 space-y-6 shadow p-10 rounded-sm
            shadow-2xl dark:shadow dark:shadow-gray-500">

  <button class="dark:text-gray-500 hover:dark:text-gray-400 absolute top-3 right-3" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>

  <h2 class="mt-0 text-center text-3xl text-color-light dark:text-color-dark">Add New</h2>

  <!-- Task Title Input Container-->
  <div>
    <div class="flex align-center border border-slate-600 rounded">
      <input [ngClass]="classes.input"
             type="text"
             name="title"
             #title="ngModel"
             placeholder="Task Title..."
             minlength="10"
             required
             ngModel />
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="title.touched">
            <span *ngIf="title.errors?.['required']"
                  class="text-sm text-red-600">
              Task Title can not be empty!
            </span>
      <span *ngIf="title.errors?.['minlength']"
            class="text-sm text-red-600">
              Title must be at least 10 characters long!
            </span>
    </ng-container>

  </div>
  <!-- Task description Input Container-->
  <div>
    <div class="flex align-center border border-slate-600 rounded">
            <textarea [ngClass]="classes.input"
                      class="w-full min-h-[175px] py-2 px-3 "
                      name="description"
                      #description="ngModel"
                      placeholder="Task Description..."
                      required
                      ngModel></textarea>
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="title.touched">
            <span *ngIf="description.errors?.['required']"
                  class="text-sm text-red-600">
              Description can not be empty!
            </span>
    </ng-container>

  </div>
  <!-- Add Button -->
  <div>

    <button class="flex items-center relative btn-primary dark:btn-primary-dark" type="submit">
      <mat-icon>add</mat-icon>
      Add
    </button>

  </div>
</form>
